/* text */
.booking-form .label {
    font-family: var(--font-karla);
    font-size: var(--fs-18px);
    font-weight: var(--fw-bold);
    text-transform: capitalize;
}

.booking-form .error-message {
    font-family: var(--font-karla);
    font-size: var(--fs-16px);
}

.booking-form .input,
.booking-form .select {
    font-family: var(--font-karla);
    font-size: var(--fs-16px);
    font-weight: var(--fw-regular);
}

/* style */
.booking-form .input,
.booking-form .select,
.booking-form .option {
    width: 275px;
    height: 50px;
    border: 2px solid var(--color-black);
    border-radius: var(--br-small);
    padding: var(--space-1rem);

    transition: box-shadow 100ms;
}

.booking-form .input:focus,
.booking-form .select:focus,
.booking-form .option:focus {
    box-shadow: var(--box-shadow-focus);
}

.booking-form .form {
    width: 3000px;
}

/* errors */
.booking-form .error-message {
    color: var(--color-error);
}

.booking-form .error-border {
    border: 2px solid var(--color-error);
}

/* layout */
.booking-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-1rem);
}

.booking-form .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-0-5rem);
}