.btn {
    font-family: var(--font-karla);
    font-size: var(--fs-16px);
    font-weight: var(--fw-extra-bold);
    text-transform: capitalize;
    color: var(--color-black);

    padding: 0.65em 1.15em;
    background-color: var(--color-yellow);
    border: 0;
    border-radius: var(--br-pill);

    transition:
        background-color 100ms,
        color 100ms,
        box-shadow 100ms;
}

.btn:hover {
    background-color: var(--color-green);

    cursor: pointer;
}

.btn:focus {
    outline: 0;
    box-shadow:
        0 0 0 var(--space-0-5rem) var(--color-green),
        0 0 0 var(--space-1rem) var(--color-yellow);
}

.btn:active {
    color: var(--color-white);
}





/* Tablet */
@media (min-width: 768px) {
    .btn {
        padding: 1em 2em;
    }
}