/* Mobile */
/* text */
.btn {
    font-family: var(--font-karla);
    font-size: var(--fs-16px);
    font-weight: var(--fw-extra-bold);
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-black);
}

/* style */
.btn {
    padding: 0.65em 1.15em;
    background-color: var(--color-yellow);
    border: 0;
    border-radius: var(--br-pill);

    transition:
        background-color 100ms,
        color 100ms,
        box-shadow 100ms;
}

.btn:hover {
    background-color: var(--color-green);

    cursor: pointer;
}

.btn:active {
    color: var(--color-yellow);
}

.btn:disabled {
    background-color: var(--color-gray);
    color: var(--color-green);

    cursor: auto;
}

/* Tablet */
@media (min-width: 768px) {
    /* style */
    .btn {
        padding: 1em 2em;
    }
}