/* sizes */
.dish-cards {
    padding: 0 var(--space-10rem);
}

/* layout */
.section-dish-cards {
    overflow-x: scroll;
}

.section-dish-cards {
    /* making sure that the cards don't resize when the window is resized */
    display: flex;

    /* enable horizontal scrolling */
    overflow-x: auto;

    /* hiding the scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.section-dish-cards::-webkit-scrollbar {
    /* hiding the scrollbar for WebKit browsers (Chrome, Safari, etc.) */
    display: none;
}

.dish-cards {
    display: flex;
    gap: var(--space-1rem);
    /* transform: translate(var(--space-15rem)); */
}