/* text */
.footer .h3 {
    font-family: var(--font-karla);
    font-size: var(--fs-18px);
    font-weight: var(--fw-bold);
    text-transform: capitalize;
}
.footer .p,
.footer .a {
    font-family: var(--font-karla);
    font-size: var(--fs-16px);
    font-weight: var(--fw-regular);
    text-align: left;
    text-decoration: none;
    border-radius: var(--br-pill);

    transition:
        color 100ms,
        box-shadow 100ms,
}

.footer .a:active {
    color: var(--color-white);
}

.footer .a:focus {
    outline: 0;
    box-shadow:
        0 0 0 var(--space-0-5rem) var(--color-green),
        0 0 0 var(--space-1rem) var(--color-yellow);
}

/* sizes */
.footer {
    padding: var(--space-4rem) 0;
}

.footer .col,
.footer .img-frame {
    width: 200px;
}

.footer .img-frame {
    height: 200px;
    border-radius: var(--br-pill);
}

.footer .list {
    list-style: none;
}

/* layout */
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-2rem);
}

.footer .img-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .cols {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-2rem);
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-1rem);
}

.footer .list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-0-5rem);
}

/* Desktop */
@media (min-width: 992px) {
    /* sizes */
    .footer .img-frame {
        width: 233px;
        height: 233px;
        border-radius: var(--br-pill);
    }

    /* layout */
    .footer {
        flex-direction: row;
    }

    .footer .cols {
        flex-direction: row;
    }
}