/* Mobile */
/* style */
.header {
    width: 100%;
    padding: var(--space-1rem);
}

.header .bg-dark {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
}

.header .logo {
    padding: var(--space-0-5rem);
    border-radius: var(--br-pill);
    transition: box-shadow 100ms;
}

.header .img {
    width: 10rem;
}

/* layout */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-2rem);

    position: fixed;
    z-index: 1;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .bg-dark {
    position: absolute;
    top: 0;
    left: 0;
}

/* Tablet */
@media (min-width: 768px) {
    /* style */
    .header {
        padding: var(--space-2rem) var(--space-5rem);
    }
}

/* Desktop */
@media (min-width: 992px) {
    /* style */
    .header {
        padding: var(--space-2rem) var(--space-10rem);
    }
}