/* text */
.mobile-nav .btn-menu-icon,
.mobile-nav .a {
    font-family: var(--font-karla);
    font-size: var(--fs-16px);
    font-weight: var(--fw-extra-bold);
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-black);
}

/* style */
.mobile-nav .btn-menu-icon {
    width: var(--space-3rem);
    height: var(--space-3rem);
    padding: var(--space-1rem);
    border-radius: var(--br-pill);
    background-color: var(--color-yellow);
    border: 0;

    transition:
        color 100ms,
        box-shadow 100ms;
}

.mobile-nav .btn-menu-icon:hover {
    background-color: var(--color-green);

    cursor: pointer;
}

.mobile-nav .btn-menu-icon:active {
    color: var(--color-yellow);
}

.mobile-nav .list {
    list-style: none;
}

.mobile-nav .a {
    display: block;
    width: var(--space-10rem);
    background-color: var(--color-white);
    padding: var(--space-1rem);

    transition:
        color 100ms,
        background-color 100ms
}

.mobile-nav .a:hover,
.mobile-nav .a-active {
    background-color: var(--color-yellow);

    cursor: pointer;
}

.mobile-nav .a:focus {
    outline: 0;
    background-color: var(--color-focus);
}

.mobile-nav .a:active {
    background-color: var(--color-green);
}

/* layout */
.mobile-nav .btn-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav {
    position: relative;
}

.mobile-nav .nav {
    position: absolute;
    top: var(--space-4rem);
    right: 0;
}

.mobile-nav .list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
}