/* text */
.nav-large-screen .a {
    font-family: var(--font-karla);
    font-size: var(--fs-16px);
    font-weight: var(--fw-extra-bold);
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-black);
}

/* style */
.nav-large-screen .list {
    list-style: none;
}

.nav-large-screen .a {
    padding: var(--space-1rem);
    border-radius: var(--br-pill);

    transition:
        color 100ms,
        box-shadow 100ms
}

.nav-large-screen .a:focus {
    outline: 0;
    box-shadow: var(--box-shadow-focus);
}

.nav-large-screen .a:active {
    color: var(--color-yellow);
}

/* layout */
.nav-large-screen .list {
    display: flex;
}